<hr class="customized-hr">

        <div class="footer">
            <p class="social-handles">
                <div class="social-handles-flex-container">
                    <div><a href=""><i class="fa-brands fa-linkedin"></i></a></div>
                    <div><a href=""><i class="fa-brands fa-facebook-square"></i></a></div>
                    <div><a href=""><i class="fa-brands fa-instagram-square"></i></a></div>
                    <div><a href=""><i class="fa-brands fa-twitter-square"></i></a></div>
                </div>
            </p>
            <p class="privacypolicy"><a href="">Terms of Use</a> . <a href="">Privacy Policy</a></p>
            <p class="copyrights">	&#169; 2022 SaurabhKumar</p>
        </div>

    </div>
</body>
</html>