<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home@SaurabhKumar</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="navbar flex-container">
            <div class="main-item"><a href="/">Saurabh Kumar</a></div>
            <div class="item"><a href="/">Home</a></div>
            <div class="item"><a href="/about">About</a></div>
            <div class="item"><a href="/gallery">Gallery</a></div>
            <div class="item"><a href="/work">Work</a></div>
            <div class="item"><a href="/contact">Contact</a></div>
        </div>
        <hr class="customized-hr">