<%- include("partials/header") -%>
    <h1 id="about-heading">About me</h1>
    <div class="about-flex-container">
        <div id="about-1">
            <p>My name is Saurabh Kumar. I am b.tech. student in Electronics and Communications(ECE) in IIT Guwahati Assam India.
                I come from the state Uttar Pradesh(U.P.) in India. I had done my high school from Jawahar Navodaya Vidyalaya, Auraiya U.P. and senior secondary from Jawahar Navodaya Vidayalaya, Prayagraj U.P. India.
                Currently, I am in 3rd year of b.tech. and expected to graduate in April 23. I am enthusiast to learn new things and like to work with active and cooperative people.
            </p>
        </div>
        <div id="about-2">
            <img src="/images/myimg.png" alt="author's image">
        </div>
    </div>
    
<%- include("partials/footer") -%>
