<%- include("partials/header") -%>
        
        <header>
            <div class="head-flex">
                <div>
                    <h1 id="my-name">Saurabh Kumar</h1>
                </div>
                <div class="myimg">
                    <img src="/images/my_transparent.png" alt="author's image">
                </div>
            </div>
            <p>Hello folk, <br>Here I am <strong>Saurabh Kumar</strong>, a 3rd year b.tech. student of Indian Institute of Technology Guwahati, Assam. The area of specialization is Electronics and Communications Engineering(ECE). I am keen to explore the computer related stuffs.</p>
        </header>

<%- include("partials/footer") -%>
